name: Deploy to web
on:
  workflow_dispatch:
    # Enable manual run
    inputs:
      environment:
        description: 'Environment to deploy to (staging OR prod)'
        required: true
        default: 'staging'
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    # Set up Flutter.
    - name: Clone Flutter repository with master channel
      uses: subosito/flutter-action@4389e6cbc6cb8a4b18c628ff96ff90be0e926aa8
      with:
        channel: master
    - run: flutter doctor -v

    # Checkout code and get packages.
    - name: Checkout code
      uses: actions/checkout@v2
    - run: flutter pub get

    # Build and deploy (by default, to staging).
    - run: flutter config --enable-web
    - run: flutter build -v web --release

    - name: Deploy to Netlify
      uses: nwtgck/actions-netlify@v1.1
      with:
        publish-dir: './build/web'
        production-branch: main
        github-token: ${{ secrets.TOKEN_GITHUB }}
        deploy-message: "Deploy from GitHub Actions"
        enable-pull-request-comment: false
        enable-commit-comment: true
        overwrites-pull-request-comment: true
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      timeout-minutes: 1